Vielen Dank!
<br>

<strong>Das Team von my-old-startups-domain</strong>

</div>
</td>
</tr>
</table>

<div>
  <div style="color:rgb(34,34,34);font-size:small">
    <div>
      <span style="color:black;font-size:10pt;font-family:Arial,sans-serif">Mail:&nbsp;</span><span
        style="font-size:10pt;font-family:Arial,sans-serif">
        <a href="mailto:partner@my-old-startups-domain.de"
           target="_blank"><font color="#0b5394">partner@my-old-startups-domain.de</font></a></span>
      <br>
    </div>
  </div>
  <div>
    <p class="MsoNormal" style="color:rgb(34,34,34);font-size:small">
      <span style="font-size:10pt;font-family:Arial,sans-serif;color:black">Web:&nbsp;</span>
      <font color="#0b5394" style="font-family:Arial,sans-serif;font-size:10pt">
        <font color="#0b5394"><a href="http://www.my-old-startups-domain.de/" target="_blank">
            <font color="#0b5394">www.my-old-startups-domain.de</font></a>
          <br>
        </font>
        <br>
      </font>
    </p>
    <p class="MsoNormal" style="color:rgb(34,34,34);font-size:small;margin-bottom:12pt"><span
        style="color:rgb(0,0,0);font-family:' Trebuchet MS',sans-serif;font-size:7.5pt"><br>my-old-startups-domain ist ein
          Produkt der my-old-startup Solutions UG (haftungsbeschränkt)</span>
      <br>
    </p>
    <p class="MsoNormal" style="margin-bottom:12pt"><span style="color:rgb(34,34,34);font-size:small"><span
          style="color:rgb(0,0,0);font-family:' Trebuchet MS',sans-serif;font-size:10px">my-old-startup Solutions UG (haftungsbeschränkt)&nbsp;</span></span>
      <span style="font-size:x-small">-</span><font size="1">&nbsp;<wbr>
        Goldenbergstraße 1 - 50354 Hürth<br></font><span
        style="color:rgb(0,0,0);font-family:' Trebuchet MS',sans-serif;font-size:7.5pt">Sitz der Gesellschaft und
          Registergericht: Hürth, Amtsgericht Köln HRB 97843<br></span><span
        style="color:black;font-family:' Trebuchet MS',sans-serif;font-size:7.5pt">Geschäftsführer: Siebe Kok |
          Johannes Weber | Lukas Zech</span>
    </p>
  </div>
</div>

</center>
</body>
</html>
