<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta name="viewport" content="width=device-width"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link href="./common/style.css" media="all" rel="stylesheet" type="text/css"/>
    </head>

    <body itemscope itemtype="http://schema.org/EmailMessage">

        <table class="body-wrap">
            <tr>
                <td></td>
                <td class="container" width="600">
                    <div class="content">
                        <table class="main" width="100%" cellpadding="0" cellspacing="0" itemprop="action" itemscope
                               itemtype="http://schema.org/ConfirmAction">
                            <tr class="header">
                                <td class="content-wrap">
                                    <img src="https://storage.googleapis.com/static.my-old-startups-domain.de/images/mail_background.jpg" alt="Background" style="width:100%;-ms-interpolation-mode: bicubic;border: 0;height: auto;line-height: 100%;outline: none;text-decoration: none;">
                                </td>
                            </tr>
                            <tr>
                                <td class="content-wrap">
