<% include ../../common/header_new.ejs %>

<h1>Herzlich willkommen bei my-old-startups-domain!</h1>

<p>Bitte haben Sie etwas Geduld. Sie bekommen eine Bestätigungsmail, sobald wir Ihren Account freigeschaltet haben.</p>

<% include ../../common/footer_new.ejs %>
