<% include ../../common/header_new.ejs %>

<h1>Ihr Account wurde freigeschaltet!</h1>

<p>Sie können my-old-startups-domain jetzt in vollem Umfang nutzen.</p>

<p>Im Anhang finden Sie unsere allgemeinen Geschäftsbedingungen und die Datenschutzbestimmungen, die der Nutzung unseres
  Angebots zu Grunde liegen. </p>

<p>
  <a href="<%= loginUrl %>" class="btn-primary" itemprop="url">Los geht's</a>
</p>

<% include ../../common/footer_new.ejs %>
